acl allowed_nets { {{ localnet }}; {{ localhost }}; };

options {
    directory "/var/cache/bind";

    forwarders {
    {% for forwarder in forwarders_list %}
        {{ forwarder }};
    {% endfor %}
    };

    allow-query { allowed_nets; };
    dnssec-validation auto;
};


statistics-channels {
    inet {{ ansible_default_ipv4.address }} port 8053 allow { localhost; };
};