key "transfer.key" {
    algorithm hmac-sha256;
    secret "{{ dns_transfer_secret }}";
};

zone "{{ domain_name }}" {
    type master;
    file "/var/cache/bind/db.{{ domain_name }}";
    allow-transfer { key transfer.key; };
};

zone "{{ reverse_domain_name }}" {
    type master;
    file "/var/cache/bind/db.{{ reverse_domain_name }}";
    allow-transfer { key transfer.key; };
};
